openapi: 3.0.0
paths:
  /orders:
    post:
      operationId: OrdersController_create
      summary: Create orders
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderDto'
      responses:
        '200':
          description: The created record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden.
      tags: &ref_0
        - orders
      security: &ref_1
        - bearer: []
    get:
      operationId: OrdersController_getAll
      parameters: []
      responses:
        '200':
          description: The list of all Orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
      tags: *ref_0
      security: *ref_1
  /orders/{id}:
    get:
      operationId: OrdersController_findOne
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: The found record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Not Found
      tags: *ref_0
      security: *ref_1
info:
  title: "order"
  description: "This website handles orders across all types."
  version: '1.0'
  contact: {}
tags: []
servers:
  - url: https://api-order-demobackstage1.empcbr.thoughtworks-labs.net
components:
  schemas:
    CreateOrderDto:
      type: object
      properties:
        name:
          type: string
          example: Jerry
          description: The name of the Order
        age:
          type: number
          example: 1
          description: The age of the Order
        breed:
          type: string
          example: persian
          description: The breed of the Order
      required:
        - name
        - age
        - breed
    Order:
      type: object
      properties:
        id:
          type: string
          description: The Order identifier
        name:
          type: string
          example: Bob
          description: The Order name
        age:
          type: number
          example: 1
          description: The age of the Order
        breed:
          type: string
          example: Maine Coon
          description: The status of the Order
      required:
        - id
        - name
        - age
        - breed
